In [2]:
import os
import json

data_folder = 'data-example'
json_files = [f for f in os.listdir(data_folder) if f.endswith('.json')]

data = {}
for file in json_files:
    with open(os.path.join(data_folder, file), 'r') as f:
        data[file.replace('.json', '')] = json.load(f)

In [3]:
user_dict = data['join']
trip_dict = data['trip']
experience_dict = data['experience']

In [4]:
user_dict

{'user_id': 'u789012',
 'username': 'engineer_jin',
 'email': 'jin@example.com',
 'password_hash': 'hashed_password_8',
 'name': '진엔지니어',
 'gender': 'female',
 'birth_date': '1991-02-28',
 'nationality': 'France',
 'profile_image_url': 'https://example.com/profile/jin.jpg',
 'preferred_language': 'fr',
 'phone_number': '+33-123-456-7890',
 'is_verified': True,
 'created_at': '2025-01-25T00:00:00+09:00',
 'status': 'active'}

In [5]:
from rds import get_db_connection

In [6]:
# def get_users_keys():
#     conn = get_db_connection()
#     cursor = conn.cursor()
#     cursor.execute("SELECT column_name FROM information_schema.columns WHERE table_name = 'users'")
#     keys = [row[0] for row in cursor.fetchall()]
#     cursor.close()
#     conn.close()
#     return keys

# users_keys = get_users_keys()

In [7]:


conn = get_db_connection()
cursor = conn.cursor()
cursor.execute("""
SELECT column_name FROM information_schema.columns WHERE table_name = 'users'
""")
conn.commit()
cursor.close()
conn.close()

OperationalError: connection to server at "travelog-db.cpcawcqwa56p.ap-northeast-2.rds.amazonaws.com" (10.7.45.206), port 5432 failed: Operation timed out
	Is the server running on that host and accepting TCP/IP connections?

In [ ]:
# db_connect = get_db_connection()
# conn = get_db_connection()
# cursor = conn.cursor()
# cursor.execute("""
#     INSERT INTO users (username, password)
#     VALUES (%s, %s)
#     """, ())
# conn.commit()
# cursor.close()
# conn.close()